.AppLoader {
    @include flex-vertical;
    @include full-screen;
    justify-content: center;
    align-items: center;
    background-color: rgba($blue, .99);
    color: $white;
    z-index: 10000;

    &:after {
        @include full-screen;
        content: '';
        display: block;
        pointer-events: none;
        z-index: 10001;
    }
}
