.Navbar {
    @include flex-horizontal;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 7px -1px rgba($black, .35);
    padding: 20px;
    width: 100%;

    .Navbar-logo {
        height: 25px;
    }

    .Navbar-nav {
        @include flex-horizontal;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        min-width: 120px;
        max-width: 250px;
    }

    .nav-item {
        position: relative;
        font-size: 24px;

        &[data-counter]:after {
            @include monserrat;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            content: attr(data-counter);
            background-color: $red;
            color: $white;
            padding: 2px;
            min-width: 15px;
            font-size: 9px;
            border-radius: 100px;
            top: -4px;
            right: -4px;
          }
    }
}
