.ProductCard {
    @include monserrat;
    @include flex-vertical;
    font-size: 16px;
    line-height: 20px;

    .ProductCard-picture {
        background-color: #ECEFF1;
        border: none;
        display: block;
        height: 168px;
        width: 150px;
        margin-bottom: 8px;
    }

    .ProductCard-title {
        color: $black;
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;
    }

    .ProductCard-price {
        color: #9D9D9D;
    }

    .ProductCard-title, .ProductCard-price {
        font-weight: 700;
        margin-bottom: 4px;
        padding: 0 16px;
    }
}
