// import partials
@import 'partials/declarations';
@import 'partials/mixins';
@import 'partials/base';

// Import componets
@import 'components/app-loader.scss';
@import 'components/text-field.scss';
@import 'components/switch-field.scss';
@import 'components/login-form.scss';
@import 'components/register-form.scss';
@import 'components/sidebar-menu-button.scss';
@import 'components/sidebar.scss';
@import 'components/navbar.scss';
@import 'components/size-selector.scss';
@import 'components/kit-selector.scss';
@import 'components/quantity-selector.scss';
@import 'components/rating.scss';
@import 'components/product-description.scss';
@import 'components/product-card.scss';
@import 'components/suggestion-products.scss';

// Import views
@import 'views/login.scss';
@import 'views/home.scss';
